<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Cyper_PriceIntelligent::price_intelligent"
             title="Price Intelligent"
             translate="title"
             module="Cyper_PriceIntelligent"
             sortOrder="20"
             resource="Cyper_PriceIntelligent::price_intelligent"/>

        <!-- Suppliers Section -->
        <add id="Cyper_PriceIntelligent::suppliers"
             title="Suppliers"
             translate="title"
             module="Cyper_PriceIntelligent"
             sortOrder="10"
             parent="Cyper_PriceIntelligent::price_intelligent"
             action="price_intelligent/suppliers/index"
             resource="Cyper_PriceIntelligent::suppliers"/>

        <add id="Cyper_PriceIntelligent::supplier_products"
             title="Supplier Products"
             translate="title"
             module="Cyper_PriceIntelligent"
             sortOrder="11"
             parent="Cyper_PriceIntelligent::price_intelligent"
             action="price_intelligent/supplierproducts/index"
             resource="Cyper_PriceIntelligent::supplier_products"/>

        <add id="Cyper_PriceIntelligent::best_supplier_products"
             title="Best Supplier Products"
             translate="title"
             module="Cyper_PriceIntelligent"
             sortOrder="12"
             parent="Cyper_PriceIntelligent::price_intelligent"
             action="price_intelligent/bestsupplierproducts/index"
             resource="Cyper_PriceIntelligent::best_supplier_products"/>

        <!-- Competitors Section -->
        <add id="Cyper_PriceIntelligent::competitors"
             title="Competitors"
             translate="title"
             module="Cyper_PriceIntelligent"
             sortOrder="20"
             parent="Cyper_PriceIntelligent::price_intelligent"
             action="price_intelligent/competitors/index"
             resource="Cyper_PriceIntelligent::competitors"/>

        <add id="Cyper_PriceIntelligent::competitor_prices"
             title="Competitor Prices"
             translate="title"
             module="Cyper_PriceIntelligent"
             sortOrder="21"
             parent="Cyper_PriceIntelligent::price_intelligent"
             action="price_intelligent/competitorprices/index"
             resource="Cyper_PriceIntelligent::competitor_prices"/>

        <add id="Cyper_PriceIntelligent::best_competitor_prices"
             title="Best Competitor Prices"
             translate="title"
             module="Cyper_PriceIntelligent"
             sortOrder="22"
             parent="Cyper_PriceIntelligent::price_intelligent"
             action="price_intelligent/bestcompetitorprices/index"
             resource="Cyper_PriceIntelligent::best_competitor_prices"/>

        <!-- Analysis Section -->
        <add id="Cyper_PriceIntelligent::price_comparisons"
             title="Price Comparisons"
             translate="title"
             module="Cyper_PriceIntelligent"
             sortOrder="30"
             parent="Cyper_PriceIntelligent::price_intelligent"
             action="price_intelligent/pricecomparisons/index"
             resource="Cyper_PriceIntelligent::price_comparisons"/>
    </menu>
</config>
